
body{
 margin: 0px;
}

.jumbotron {
  background: url(../img/code.jpg);
  background-size: cover;
  
}

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;

}

#header li a {
  color: #bec8d1;
  font-weight: 700;
  text-transform: uppercase;
}
#header li a:hover{
  color: #86cecb;
}

#header .navbar {
  margin: 0px;
  border: none;
}

#header .container-fluid{
  background-color: #373b3e;
}
#odd .container-fluid{
  background-color: white;
  height: 100vh;
}










.media-container{
  width: 210px;
  height: 50px;
  margin: 0px auto;
}

#odd .media-container .social::after, #footer .media-container .social::after {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 2.5em;
  padding: 0 .25em;
  color: #bec8d1;
  z-index: 1;
}

#git::after{
  content: "\f092";
}

#link::after{
  content: "\f08c";
}

#facebook::after{
  content: "\f082";
}

#twitter::after{
  content: "\f081";
}

#odd .media-container .social:hover::after{
  color: #373b3e;
}



p{
  color: red;
}



#work .container-fluid .work-title{
  color: #373b3e !important;
  margin-top: 20px;
  margin-bottom: 100px;
}



#odd #contact {
  width: 100%;
  height: 600px;
}















#footer .row{
  height: 75px;
  background-color: #373b3e;
}

#footer .media-container .social:hover::after{
  color: red;
}

body {
    background: #222;
    margin: 0;
  }
  .thumbnails img {
    height: 80px;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
  }

  .thumbnails img:hover {
    border: 4px solid #00ccff;
    cursor:pointer;
  }

  .preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 500px;
  }

