
body{
 margin: 0px;
}

.jumbotron {
  background: url(../img/code.jpg);
  background-size: cover;
  
}

#header li a {
  color: #bec8d1;
  font-weight: 700;
  text-transform: uppercase;
}
#header li a:hover{
  color: #86cecb;
}

#header .navbar {
  margin: 0px;
  border: none;
}

#header .container-fluid{
  background-color: #373b3e;
}
#odd .container-fluid{
  background-color: white;
  height: 100vh;
}

.media-container{
  width: 210px;
  height: 50px;
  margin: 0px auto;
}

#odd .media-container .social::after, #footer .media-container .social::after {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 2.5em;
  padding: 0 .25em;
  color: #bec8d1;
  z-index: 1;
}

#git::after{
  content: "\f092";
}

#link::after{
  content: "\f08c";
}

#facebook::after{
  content: "\f082";
}

#twitter::after{
  content: "\f081";
}

#odd .media-container .social:hover::after{
  color: #373b3e;
}



p{
  color: red;
}

#work .container-fluid .work-title{
  color: #373b3e !important;
  margin-top: 20px;
}

#odd #contact {
  width: 100%;
  height: 600px;
}
#footer .row{
  margin-top: 20px;
  height: 50px;
  
}
#footer .media-container .social:hover::after{
  color: red;
}
a {
  color: #FFF;
}
  a:hover {
  color: yellow;
  text-decoration: underline;
}
  .thumbnails img {
    height: 100px;
    width: auto;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
  }

  .thumbnails img:hover {
    border: 4px solid #00ccff;
    cursor:pointer;
  }

  .preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 500px;
  }

.glyphicon{
align-items: center;
}